<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    
    <title>Willkommen</title>
  </head>
  <body>
        <h2>Willkommen <%= user %>    </h2>
        

        
        <!--8.3.-->
        <a href="/kontoAnlegen" class="button">Konto anlegen</a>
        <br>
        <!--8.3.-->



        <a href="/ueberweisung" class="button">Überweisung ausführen</a>
        <br>
        <a href="/login" class="button">Abmelden</a>
  </body>
</html>