<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="styles.css">

    <title>Konto anlegen</title>
  </head>
  <body>
    <h1>Konto anlegen</h1>
    <form method="POST" action="/kontoAnlegen">
        <p>Kontonummer<p/>
        <input type="number" title="IdKonto" name="IdKonto" />
        <button>Konto anlegen</button>

        <br>
        <br>
        <br>

        <a href="/login" class="button">Abmelden</a>
    </form>
  <body/>
</html>
