<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    
    <title>Willkommen</title>
  </head>
  <body>
        <h2>Willkommen <%= user %>    </h2>
        

        
  </body>
</html>